<%- include('header') %>

<% if (employees.length === 0) { %>
    <div class="alert alert-info" role="alert">
        <p>There are no employees to show, click <a href="/addEmployee">here</a> to add a new employee.</p>    
    </div>
<% } else { %>
    <br>
    <a type="button" class="btn btn-primary" href="/addEmployee">Add new state</a>
    <br><br>
    <table class="table">
        <thead class="thead-dark">
            <tr>
                <th scope="col">#</th>
                <th scope="col">Employee Name</th>
                <th scope="col">Employee Middle Name First Letter</th>
                <th scope="col">Employee Last Name</th>
                <th scope="col">Employee ID</th>
                <th scope="col">Institution Type</th>
                <th scope="col">Edit</th>
                <th scope="col">Delete</th>
            </tr>
        </thead>
        <tbody>
            <% employees.forEach(function(employees, index) { %>
            <tr>
                <td><strong><%= index+1 %></strong></td>
                <td><%= employees.ZAP_IME %></td>
                <td><%= employees.ZAP_SREDNJE_SLOVO %></td>
                <td><%= employees.ZAP_PREZIME %></td>
                <td><%= employees.ZAP_REDNI_BROJ %></td>
                <td><%= employees.TIP_UST %></td>
                <td><a type="button" class="btn btn-warning" href="/editStateById/<%= state.DR_IDENTIFIKATOR %>">Edit</a></td>
                <td><a type="button" class="btn btn-danger" href="/deleteStateById/<%= state.DR_IDENTIFIKATOR %>" onClick="return confirm('This will delete all cities of this state, are you sure you want procee!');">Delete</a></td>
            </tr>
            <% }); %>
        </tbody>
    </table>
<% } %>

<%- include('footer') %>